<div class="intro">
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <!--homepage-->
        <a> <img src="{{ (printf "%s" $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ with .Site.Params.subtitle}}
    <h2 class="description">
        {{ . }}
    </h2>
    {{ end }}
    <div class="social-links">
        {{ partial "social.html" . }}
    </div>
    {{ with .Site.Params.notice}}
    <div id="notice">
        {{ partial "notice.html" . }}
    </div>
    {{ end }}
</div>

{{ if .IsHome }}
    {{ partial "wechat.html" . }}
{{ end }}