<script>
    function get(url, success) {
        if (window.XMLHttpRequest) {
            var xhr = new XMLHttpRequest()
        } else {
            var xhr = new ActiveXObject('Microsoft.XMLHTTP')
        }
        xhr.open('get', url, true)
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                try {
                    let res = JSON.parse(xhr.responseText)
                    success(res)
                } catch {
                    console.error('the notice api is not returning valid JSON')
                }
            }
        }
        xhr.send(null)
    }
    get('{{ . }}', function (res) {
        if (res.code === 0 || res.success === true) {
            document.getElementById('notice').innerHTML = res.data
                .map(d => {
                    return (
                        '<scan style="font-size:0.8em;font-weight:500"><i class="saintic-icon saintic-icon-notice"></i> ' +
                        d.content +
                        '</scan>'
                    )
                })
                .join('<br>')
        }
    })
</script>
